# Local environment files
.env
.env.*
!.env.example
!**/.env.example

composer.phar
/vendor/

tmp/*
!tmp/*/
tmp/*/**
!tmp/**/.gitkeep

logs/*
!logs/*/
logs/*/**
!logs/**/.gitkeep

.devcontainer/**/devcontainer-lock.json
